body{
	background-color: #e8e3da;
}
.wrapper{
	width: 100%;
}
.wrap-ul{
	width: 80%;
	height: 80%;
	border: 1px solid red;
	
	/*自适应居中*/
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	/*井深*/
	perspective: 700px;
}
.wrap-ul li{
	/*3d*/
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	/*不设置宽高是要动态传入不同数量的图片而定*/
	width: ;
	height: ;
	/*所有的li重叠在定位的位置*/
	
	border: 1px dotted red;
}
.box{
	width: 100%;
	height: 100%;
	/*缩放*/
	transform: scale(0.85);
}
img{
	width: 100%;
	height: 100%;
}
